.need{
    position: absolute;
    width:330px;
    left: 60px;
    top: 150px;
    animation: delay 1s 0s none;
}
.long{
    position: absolute;
    width:320px;
    left: 80px;
    top: 40px;
    opacity: 0;
}
.long:hover{
    opacity: 1;
}
.okay{
    color: white;
    font-family: oxxo;
    position: absolute;
    left: 500px;
    top: 150px;
    width: 500px;
    font-size: 50px;
    animation: delay 1s 0s none;
}
.notsmart{
    color: white;
    font-family: oxxo;
    position: absolute;
    left: 1000px;
    bottom: 200px;
    width: 200px;
    font-size: 15px;
    opacity: 0;
}
.explanation{
    color: white;
    font-family: oxxo;
    position: absolute;
    left: 550px;
    top: 330px;
    width: 500px;
    font-size: 30px;
    animation: delay 1s 0s none;
} 
@font-face{
    font-family: 'oxxo';
    src: url('setofont.ttf');
}
@keyframes delay{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.nextpage{
    width: 100px;
    position: absolute;
    left: 1020px;
    bottom: 10px;
    animation: delay 1s 0s none;
}
.nextpage:hover{
    width: 200px;
    position: absolute;
    left: 980px;
}